* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.nav__links a,
.userprofile,
.simple_balance,
.overlay__content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #7ed957;
}

.userprofile {
  padding: 9px 25px;
  background-color: rgba(126, 217, 87, 0.8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.userprofile:hover {
  background-color: rgba(126, 217, 87, 0.6);
}

.simple_balance {
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.simple_balance:hover {
  color: rgba(228, 71, 128, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #6de03b;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 990px) {
  .simple_balance {
    display: none;
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .userprofile,
  .simple_balance {
    display: none;
  }
  .menu {
    display: initial;
  }
}
